<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="form-body">
        <div class="form">
            <form action="" method="POST">
                <div class="heading"><b> Candidate: X </b> </div>
                <label for="interviewer-name">Name of the interviewer</label><br>
                <input type="text" class="interviewer-name" name="interviewer-name" placeholder="Your name"><br>
                <div class="heading"><b> Scores </b> </div>
                <label for="parameter1">Communication Skills</label><br>
                <input type="number" class="parameter1" name="parameter1" placeholder="Enter score" required><br>
                <label for="parameter2"> Programming Skills</label><br>
                <input type="number" class="parameter2" name="parameter2" placeholder="Enter score" required><br>
                <label for="parameter3">Ability to learn new things</label><br>
                <input type="number" class="parameter3" name="parameter3" placeholder="Enter score" required><br>
                <label for="parameter4">Willing to work 20hours per week</label><br>
                <input type="number" class="parameter4" name="parameter4" placeholder="Enter score" required><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="message-holder"></div>

    <div class="tbl">
        <h3>Final Scores for Candidate: Mr.X</h3>
        <table>
            <thead>
                <tr>
                    <th>Interviewer</th>
                    <th>Communication Skills</th>
                    <th>Programming Skills</th>
                    <th>Ability to learn new things</th>
                    <th>Willing to work 20hours per week</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- socketIO  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>

</html>
